/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

#welcome {
  font-size: 6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  border-bottom: 10px solid black;
  background-color: chartreuse;
}

#welcome-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
}

#login-word {
  font-weight: bold;
}

p {
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 5rem;
  background-color: chartreuse;
  border: 2px solid black;
  padding: 20px;
  border-radius: 25px;
  justify-content: space-around;
  align-items: center;
}

#login-form > * {
  margin: 10px;
}

.form-text {
  font-weight: bold;
}

#funny-img {
  margin: 20px;
  border: 2px solid black;
}

#glad-welcome-box {
  display: flex;
  justify-content: center;
}

.new-form-div {
  margin: auto;
  width: 50%;
  padding: 0 50px 50px 50px;
}

#description-box {
  height: 200px;
}

#welcome-man-top {
  margin: auto;
  width: 75%;
  padding: 10px;
}
#man-main-ques {
  margin: 50px;
}
#links-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* #links-div a {
  display: inline-block;
  background-color: pink;
  color: chartreuse;
} */
