#welcome {
  font-size: 5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#login-form-div {
  display: flex;
  /* justify-content: baseline; */
  flex-wrap: wrap;
}

p {
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 5rem;
  background-color: aquamarine;
}

#funny-img {
  margin: 20px;
}

/* css for the links */
a {
}
